<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="out-div">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <form (submit)="saveTodo(todo.value)">
    <div class="input-group">
      <label>
        <input type="text" #todo />
      </label>
      <input type="submit" value="save" />
    </div>

  </form>

<ul>
  <li *ngFor="let todo of todoList; let n=index" >{{todo}}
  <button class="delete" (click)="deleteTodo(n)">x</button>
  </li>
</ul>
</div>

